---
import "../../styles/CardsProductos.css";

const productGroups = [
  [
    {
      id: 1,
      name: "Altavoz Bambú",
      description: "Altavoz portátil ecológico con diseño moderno.",
      image: "/cardsProductos/producto1.jpg",
    },
    {
      id: 2,
      name: "Power Bank",
      description: "Batería externa de alta capacidad para dispositivos.",
      image: "/cardsProductos/producto2.jpg",
    },
    {
      id: 3,
      name: "Set de Escritorio",
      description: "Conjunto de portabolígrafos y organizador de escritorio.",
      image: "/cardsProductos/producto3.png",
    },
  ],
  [
    {
      id: 4,
      name: "Cuadernos con Diseño",
      description: "Cuadernos con diseño único y creativo.",
      image: "/cardsProductos/producto4.jpg",
    },
    {
      id: 5,
      name: "Pack para Estudiantes",
      description: "Pack completo de útiles escolares para estudiantes.",
      image: "/cardsProductos/producto5.jpg",
    },
    {
      id: 6,
      name: "Set de Gigantografias",
      description: "Conjunto de gigantografías para publicidad.",
      image: "/cardsProductos/producto6.png",
    },
  ],
];
---

<section class="product-grid">
  {productGroups.map((group) => (
    <div class="product-cards">
      {group.map((product) => (
        <div class="product-card">
          <img src={product.image} alt={`Producto ${product.id}`} />
          <h3>{product.name}</h3>
          <p>{product.description}</p>
          <button class="quote-button">
            <a href="https://wa.me/973644878" target="_blank">
              Cotizar
            </a>
          </button>
        </div>
      ))}
    </div>
  ))}
</section>