---
import '../styles/Carrusel.css';
---

<div class="container text-center my-5">
    <h2 class="titulo">PROYECTOS DESARROLLADOS</h2>
    <div id="proyectosCarousel" class="carousel slide carousel-fade mt-4" data-bs-ride="carousel"
        data-bs-interval="3000">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row justify-content-center">
                    <div class="col-md-4">
                        <div class="card shadow">
                            <img src="/images/imagencarrusel1.webp"
                                class="card-img-top" alt="Project 1">
                            <div class="card-body bg-dark text-white text-center">
                                <h5 class="card-title">Product Design</h5>
                                <p class="card-text">UI/UX, Design</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 d-none d-md-block">
                        <div class="card shadow">
                            <img src="/images/imagencarrusel2.webp" class="card-img-top" alt="Project 2">
                            <div class="card-body bg-dark text-white text-center">
                                <h5 class="card-title">Custom Website</h5>
                                <p class="card-text">UI/UX, Design</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 d-none d-lg-block">
                        <div class="card shadow">
                            <img src="/images/imagencarrusel3.webp" class="card-img-top"
                                alt="Project 3">
                            <div class="card-body bg-dark text-white text-center">
                                <h5 class="card-title">Digital Marketing</h5>
                                <p class="card-text">UI/UX, Design</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row justify-content-center">
                    <div class="col-md-4">
                        <div class="card shadow">
                            <img src="/images/imagencarrusel4.webp"
                                class="card-img-top" alt="Project 4">
                            <div class="card-body bg-dark text-white text-center">
                                <h5 class="card-title">Branding</h5>
                                <p class="card-text">Marketing, Identity</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 d-none d-md-block">
                        <div class="card shadow">
                            <img src="/images/imagencarrusel5.webp"
                                class="card-img-top" alt="Project 5">
                            <div class="card-body bg-dark text-white text-center">
                                <h5 class="card-title">App Design</h5>
                                <p class="card-text">Mobile, UI</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 d-none d-lg-block">
                        <div class="card shadow">
                            <img src="/images/imagencarrusel6.webp"
                                class="card-img-top" alt="Project 6">
                            <div class="card-body bg-dark text-white text-center">
                                <h5 class="card-title">SEO Strategy</h5>
                                <p class="card-text">Optimization, Growth</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#proyectosCarousel"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#proyectosCarousel"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </button>
    </div>
</div>


