---
import '../styles/Clientes.css';

const clientes = [
  { src: 'images/imagencliente1.svg', alt: 'Cliente 1' },
  { src: 'images/imagencliente2.svg', alt: 'Cliente 2' },
  { src: 'images/imagencliente3.svg', alt: 'Cliente 3' },
  { src: 'images/imagencliente4.svg', alt: 'Cliente 4' },
  { src: 'images/imagencliente5.svg', alt: 'Cliente 5' },
  { src: 'images/imagencliente6.svg', alt: 'Cliente 6' },
  { src: 'images/imagencliente7.svg', alt: 'Cliente 7' },
  { src: 'images/imagencliente8.svg', alt: 'Cliente 8' },
];
---

<div class="container text-center my-5">
  <h2 class="titulo">NUESTROS CLIENTES</h2>
  <div class="slider mt-4">
    <div class="list">
      {clientes.map((cliente, index) => (
        <div class="item" style={`--position: ${index + 1}`}>
          <img src={cliente.src} alt={cliente.alt} />
        </div>
      ))}
    </div>
  </div>
</div>