---
import '../styles/Diferenciadores.css';

const diferenciadores = [
  {
    src: '/images/iconodeferenciador1.webp',
    alt: 'Merchandising',
    text: 'Más de 10 mil productos para <span class="negrita">merchandising</span>'
  },
  {
    src: '/images/iconodeferenciador2.webp',
    alt: 'Pagos Seguros',
    text: 'Pagos y envíos <span class="negrita">seguros</span>'
  },
  {
    src: '/images/iconodeferenciador3.webp',
    alt: 'Garantía',
    text: 'Proveedores de <span class="negrita">garantía</span>'
  }
];
---

<div class="container-fluid d-flex justify-content-center align-items-center"
     style="background-color: #737375; padding: 10px; margin-top: 20px; height: 102px;">
  <p class="mb-0 text-white text-center text-seccion">
    Todos nuestros artículos son personalizables para incluir el logotipo de tu empresa, tu eslogan, los nombres
    de tus empleados, clientes, socios u otra personalización.
  </p>
</div>

<section class="container my-5">
  <div class="row justify-content-center text-center">
    {diferenciadores.map((diferenciador) => (
      <div class="col-md-4 d-flex flex-column align-items-center">
        <div class="circle">
          <img class="icono" src={diferenciador.src} alt={diferenciador.alt} />
          <p class="texto" set:html={diferenciador.text}></p>
        </div>
      </div>
    ))}
  </div>
</section>