---
import '../styles/HeroProductos.css'
---

<section class="hero">
    <div class="hero-content">
        <span class="discount-badge">30% de descuento</span>
        <h1>Articulos Importados<br>Get it ordered</h1>
        <p>Save time, skip the lines. We've got you covered.</p>
        <button class="cta-button">Shop Now</button>
    </div>
    <div class="hero-image">
        <img src="https://i.imgur.com/UxY4IR7.png" alt="Corporate Gifts Collection">
    </div>
</section>