---
import '../styles/Hero.css';
const {image} = Astro.props;
---

<div class="hero">
    <img src={image} alt="Imagen 1">
    <div class="text">
        <h2 class="title-hero">Artículos impresión digital</h2>
        <p class="description-hero">
            Producción de prendas y todo tipo de accesorios con el logo de marca.
        </p>
    </div>
</div>