---
import '../styles/HeroCatalogo.css'
---

<section class="container hero-section">
  <div class="row align-items-center">
    <div class="col-lg-6 col-md-6">
      <div class="px-4 px-md-3 px-lg-4">
        <h1 class="hero-title">Descubre la Agencia<br>de Merchandising Compipro</h1>
        <p class="hero-description">Compipro es una de las agencias de merchandising más confiables del Perú, proporcionando más de 10,000 productos personalizados para sus miles de clientes.</p>
        <button class="btn btn-buy-now">
          <a class="link-conocenos text-black" href="https://agenciadigitalnet.net" target="_blank">
            Conócenos
          </a>
        </button>
      </div>
    </div>
    <div class="col-lg-6 col-md-6">
      <div class="headset-container">
        <div class="headset-glow"></div>
        <img src="/images/herocatalogo.png" alt="Productos de Merchandising" class="headset-image">
      </div>
    </div>
  </div>
</section>