---
import "../styles/QuienesSomos.css";

const data = [
  {
    title: "¿Quienes Somos?",
    content: "COMPIPRO S.A.C es tu mejor opción. Somos una empresa peruana dedica a la oferta de artículos y productos publicitarios de alta calidad y diseño para eventos, ferias, regalos corporativos y para la industria en general. Contamos con infraestructura propia y trabajamos con “Partners Estratégicos” a nivel nacional e internacional, los cuales nos permiten brindar servicios con mayor calidad, rapidez y garantía a costos muy competitivos.",
    image: "https://s3-alpha-sig.figma.com/img/4ac8/ce85/57f85259050e78c991ed01072696786f?Expires=1742169600&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=LDraOLP~Cfc8meQeZvf4mGVu3eRsrHHECR3DefRBr5DNRhIr4wQ-8K5048NX37t2wrUMRxMTjvwasaqdcBRIuv~IFnuXKjyVxlcDG7sBBvf40CqgaWMviS~rrFkdT2vdbfn7OSo3tF6IwSf4n6GV8tbCK2dH2Aks2oIABLIOhDln4Zib-v4XEkjEX7DiCxUeVZrbpjTvepWXCCM3oOgzTNoaH0H0DW61H3aVG9TfytJGkzSBy2jffyN6tCX4zBfwUkOALzsVqEx2iya1O4yQ7Elfq0brIXin6tY6SsRJadr38lKExat8oRKs8E73qh613CTfuYzVGoOMXSjAAUoxMw__",
  },
];
---

<section class="about-section">
  <div class="container">
    <h2 class="section-title">{data[0].title}</h2>
    <div class="about-content">
      <div class="about-text">
        <p>
          {data[0].content}
        </p>
      </div>
      <div class="about-image">
        <img src={data[0].image} alt="Logo CompiPro Empresa" />
      </div>
    </div>
  </div>
</section>